@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'SFNSRounded';
  src: url('../public/fonts/SFNSRounded.ttf');
}

/* General */
body {
  background-color: #eeeeee;
}

/* Checkbox */
input[type='checkbox'] {
  background-color: #efefef;
  overflow: hidden;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px !important;
  height: 18px !important;
  border-radius: 20%;
  border: 0.124em solid black;
  box-shadow: none;
}

input[type='checkbox']:before {
  content: 'x';
  visibility: hidden;
  line-height: 0;
  font-weight: 600;
  font-size: 18px;
  color: #3cb55e;
}

input[type='checkbox']:checked {
  background-color: white;
  border: 0.124em solid #3cb55e;
  padding: 8px;
}

input[type='checkbox']:disabled {
  background-color: rgb(171, 171, 171);
  border: 0.124em solid rgb(157, 157, 157);
}

input[type='checkbox']:disabled:checked:after {
  content: 'x';
  visibility: hidden;
  line-height: 0;
  font-weight: 600;
  font-size: 12px;
  color: #3cb55e;
}

input[type='checkbox']:checked:after {
  content: 'x';
  line-height: 0;
  font-weight: 600;
  color: #3cb55e;
  font-size: 20px;
  margin-bottom: 2px;
  position: relative;
  margin-right: 9px;
}

/* react-toastify */
.Toastify__toast-container {
  min-width: 360px;
}

.Toastify__toast {
  border-radius: 8px;
}

.Toastify__progress-bar--success {
  background: #86efac !important;
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #86efac;
}