@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFNSRounded";
    src: url("../public/fonts/SFNSRounded.ttf")
}
input[type="checkbox"] {
    background-color: #EFEFEF;
    overflow: hidden;
    appearance:none;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    width: 15px !important;
    height: 15px !important;
    border-radius:20%;
    border: .124em solid black;
    box-shadow: none;
}
input[type='checkbox']:before {
    content: 'x';
    visibility: hidden;
    line-height: 0;
    font-weight: 200;
    font-size: 10px;
    color: #3cb55e00;
}

input[type='checkbox']:checked {
    /* background-color: #EFEFEF;
    overflow: hidden;
    appearance:none;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    width: 15px !important;
    height: 15px !important;
    border-radius:20%; */
    background-color: white;
    border: .124em solid #3CB55E;
    /* box-shadow: none; */
}
input[type='checkbox']:disabled {
    /* background-color: #EFEFEF;
    overflow: hidden;
    appearance:none;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    width: 15px !important;
    height: 15px !important;
    border-radius:20%; */
    background-color: rgb(171, 171, 171);
    border: .124em solid rgb(157, 157, 157);
    /* box-shadow: none; */
}

input[type='checkbox']:disabled:checked:after {
    content: 'x';
    visibility: hidden;
    line-height: 0;
    font-weight: 200;
    font-size: 10px;
    color: #3cb55e00;
}

input[type='checkbox']:checked:after {
    position: absolute;
    content: 'x';
    line-height: 0;
    font-weight: 200;
    font-size: 10px;
    color: #3CB55E;
}